---
layout: default
---

<div class="banner">
  <h1 class="banner-head">I have sampled {{ site.data.breweries | size }} different breweries</h1>
</div>

<div class="l-content information">
  <div class="pure-u-1" id="breweries">
    <input class="search" placeholder="Filter">
    <table class="pure-table pure-table-striped" style="width: 100%;">
      <thead>
	      <tr>
	        <th class="sort" data-sort="brewery">Brewery</th>
	        <th class="sort" data-sort="checkins">Checkins</th>
	        <th class="sort" data-sort="country">Country</th>
	      </tr>
      </thead>
      <tbody class="list">
	{% for brewery in site.data.breweries %}
	<tr>
	  <td>
      <span class="fi fi-{{ brewery.ISO3166Alpha2 | downcase }}"></span>
	    <a class="external brewery" href="https://untappd.com/brewery/{{ brewery.id }}" target="_blank" rel="noopener noreferrer">{{ brewery.name }}</a>
	    <span style="float: right; width: 100%; text-align: right; display: table;">
		{% assign beers = brewery.beers |  newline_to_br %}
		{% for beer in beers %}
		  {{ beer }}
		  <br />
	  	{% endfor %}
	    </span>
	  </td>
	  <td valign="top" class="checkins">
		  {{ brewery.checkins }}
	  </td>
	  <td valign="top" class="country">
	    {{ brewery.country }}
	  </td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script>
  let options = {
    valueNames: [ "brewery", "checkins", "country" ]
  };

  let breweries = new List("breweries", options);
</script>
