---
layout: default
---

<div class="banner">
  <h1 class="banner-head">I have had {{ site.data.allmy.checkins }} beers since {{ site.data.allmy.start_date | date:
    "%-dth of %B, %Y" }}, averaging {{ site.data.allmy.beers_per_day }} beers a day</h1>
</div>

<div class="l-content information">
  {% for value in site.data.allmy.years reversed %}
  {% cycle 'add row' : '<div class="boxes-tables pure-g">', '', '' %}
  {% assign data = value[1] %}  
    {% include yearly.html data=data %}
    {% cycle 'end row' : '', '', '</div>' %}
  {% endfor %}
  {% cycle 'end row' : '', '</div>', '</div>' %}
</div>