<footer class="site-footer">
  <p style="text-align: center">
    Last updated: {{ site.data.allmy.generated_date | date_to_long_string }}
    <br>
    Site and content subject to sudden change due to miscalculated Balmer"s peak
    <br>
    Beer stein icon by
    <a href="https://game-icons.net/lorc/originals/beer-stein.html">Lorc</a>
    under CC BY 3.0
    <br>
    Photo by
    <a href="https://unsplash.com/photos/-V-ENAd192g?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Maia Eli</a>
    on
    <a href="https://unsplash.com/collections/2122312/imbagraph?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
  </p>
</footer>
