<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }} - {{ site.description }}</title>

  <link rel="shortcut icon" href="{{ '/assets/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">
  <link rel="icon" href="{{ '/assets/favicon.ico' | prepend: site.baseurl }}" type="image/x-icon">
  <meta name="referrer" content="no-referrer">

  <link crossorigin="anonymous" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" rel="stylesheet">
  <link href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css" rel="stylesheet">
  <link href="{{ '/css/imbagraph.css' | prepend: site.baseurl }}" rel="stylesheet">
  <link href="{{ '/css/flag-icons.min.css' | prepend: site.baseurl }}" rel="stylesheet">
  <script src="{{ '/js/list.min.js' | prepend: site.baseurl }}"></script>
</head>
