---
layout: default
---

<div class="banner">
  <h1 class="banner-head">{{ page.banner }}</h1>
</div>

<div class="l-content information">
  {{ content }}

  {% if page.next %}
    <a rel="next" href="{{ site.baseurl }}{{ page.next.url }}" id="next">
      <span class="nav-title nav-title-prev">{{ page.next.title }}</span> &rarr;
    </a>
  {% endif %}
  {% if page.previous %}
    <a rel="prev" href="{{ site.baseurl }}{{ page.previous.url }}" id="prev">
      &larr; <span class="nav-title nav-title-next">{{ page.previous.title }}</span>
    </a>
  {% endif %}
</div>
